table {
    border-collapse: inherit;
}

.thead-light {
    background-color: rgb(231, 231, 231);
    font-weight: 400;
}

.thead-light th {
    font-weight: 500;
}

table tbody tr td {
    cursor: pointer;
}

table tbody tr.active td {
    background-color:lightgrey;
}

.icon {
    color: rgb(99, 98, 98);
    margin: 5px;
}

.product-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.btn-outline-primary:hover{
    background-color: cornflowerblue !important;
    border-color: cornflowerblue !important;

}